{
    "plugins": [
      ["module-resolver", {
        "alias": {
          "@config": "./config",
          "@models": "./models",
          "@routes": "./routes",
          "@controllers": "./controllers",
          "@utils": "./utils"
        }
      }]
    ]
  }
  